@model IEnumerable<CarLot2.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Inventory</h2>

<p>


    @using (Html.BeginForm("Index", "Cars", FormMethod.Get))
    {
    <p>
        Make: @Html.DropDownList("carmake", "All")
        Model: @Html.TextBox("SearchString") 
        <input type="submit" value="Filter" />

        @*@Html.ActionLink("Compare", "IsChecked", new { id = item.ID })*@
        
        <input type="submit" value="Compare" />
    </p>
    }
    

       

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Checked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Checked)
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.carID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mileage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Fuel Economy", "getCarEconmy", new { carid = item.carID })|
                    @Html.ActionLink("Details", "Details", new { id = item.ID })

                </td>
            </tr>
        }

    </table>
